@model Employee

<h2>Update Employee</h2>

<div class="card mt-2 p-2">
    <form method="post">
        <div class="nb-2"
    <label asp-for="FirstName" class="form-label"></label>
    <input asp-for="FirstName" class="form-control" />
    </div>
        <div class="nb-2"
    <label asp-for="LastName" class="form-label"></label>
    <input asp-for="LastName" class="form-control" />
    </div>
        <div class="nb-2"
    <label asp-for="Designation" class="form-label"></label>
    <input asp-for="Designation" class="form-control" />
    </div>
        <div class="nb-2"
    <label asp-for="level" class="form-label"></label>
    <input asp-for="level" class="form-control" />
    </div> <div class="nb-2"
    <label asp-for="JoinDate" class="form-label"></label>
    <input asp-for="JoinDate" class="form-control" />
    </div>
        <button type="submit" class="btn btn-success"><i class="bi bi-pencil-fill"></i>Update Eployee</button>
    </form>
</div>