@using HRM.Web.ViewModels
@model List<IdentityUser>

@{
    ViewData["Title"] = "Assign Role";
}

<form method="post">
    <div class="mt-3">
      
    </div>

    <button type="submit" class="btn btn-success">Add Role</button>
    <a asp-action="AssignRole">Back to List</a>
</form>