@using Microsoft.AspNetCore.Identity
@model List<IdentityRole>

<h2>List of Roles</h2>
<div>
    <a asp-controller="Auth" asp-action="AddRole" class="btn btn-success mt-2">
        <i class="bi bi-plus"></i>
        Add Employee
    </a>
</div>
<hr />
<ol>
    @foreach (var item in Model)
    {
        <li>@item.Name</li>
    }
</ol>