@using Microsoft.AspNetCore.Identity
@model List<IdentityUser>

<h2>Role Assignment List</h2>
<div></div>

<hr />

<ol>
    @foreach (var item in Model)
    {
        <li>@item.UserName</li>
        <!--<li>@item.Id     </li>-->

    }
</ol>