@using HRM.Web.ViewModels
@model EmployeeViewModel

<div class="card mt-2 p-4">
    <form method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="FirstName" class="form-label"></label>
            <span asp-validation-for="FirstName" class="text-danger"></span>
            <input asp-for="FirstName" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="LastName" class="form-label"></label>
            <span asp-validation-for="LastName" class="text-danger"></span>
            <input asp-for="LastName" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="DesignationName" class="form-label"></label>
            <span asp-validation-for="DesignationId" class="text-danger"></span>
            <select asp-for="DesignationId" asp-items="@ViewData["Designations"] as IEnumerable<SelectListItem>" class="form-select">
            </select>
        </div>
        <div class="mb-3">
            <label asp-for="Level" class="form-label"></label>
            <span asp-validation-for="Level" class="text-danger"></span>
            <input asp-for="Level" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="DepartmentName" class="form-label"></label>
            <span asp-validation-for="DepartmentId" class="text-danger"></span>
            <select asp-for="DepartmentId" asp-items="@ViewData["Departments"] as IEnumerable<SelectListItem>" class="form-select">
            </select>
        </div>
        <div class="mb-3">
            <label asp-for="JoinDate" class="form-label"></label>
            <span asp-validation-for="JoinDate" class="text-danger"></span>
            <input asp-for="JoinDate" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Avatar" class="form-label">Profile Image</label>
            <input class="form-control" asp-for="Avatar">
        </div>

        <button type="submit" class="btn btn-success"><i class="bi bi-save-fill"></i> Save Employee</button> |
        <a asp-action="List">Back to List</a>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }