@model Employee
@{
    ViewData["Title"] = "Edit Employee";
}

<h2>Update Employee</h2>

<div class="card mt-2 p-2">
    <form method="post" enctype="multipart/form-data">

        <div class="mv-3">
            <label asp-for="Avatar" class="form-label">Profile Image</label>
            <input asp-for="Avatar" class="form-control" />
        </div>
        <input type="hidden" asp-for="ProfileImage"/>
        <img height="30" class="rounded-circle" src="/profile-images/@Model.ProfileImage" />

        <div class="nb-2">
    <label asp-for="FirstName" class="form-label"></label>
    <input asp-for="FirstName" class="form-control" />
    </div>
        <div class="nb-2">
    <label asp-for="LastName" class="form-label"></label>
    <input asp-for="LastName" class="form-control" />
    </div>
        <div class="nb-2">
    <label asp-for="Designation" class="form-label"></label>
    <select asp-for="DesignationId" asp-items="@ViewData["Designation"] as IEnumerable<SelectListItem>" class="form-select">
            </select>
    <!--<input asp-for="Designation" class="form-control" />-->
    </div>
        <div class="nb-2">
    <label asp-for="level" class="form-label"></label>
    <input asp-for="level" class="form-control" />
    </div>
        <div class="nb-2">
    <label asp-for="Department" class="form-label"></label>
    <select asp-for="DepartmentId" asp-items="@ViewData["Department"] as IEnumerable<SelectListItem>" class="form-select">
            </select>
    <!--<input asp-for="Department" class="form-control" />-->
    </div>
    <div class="nb-2">
    <label asp-for="JoinDate" class="form-label"></label>
    <input asp-for="JoinDate" class="form-control" />
    </div>
        <!--<a class="btn btn-success" asp-controller="Employee" asp-action="List">Cancel</a>-->
        <button type="submit" class="btn btn-success"><i class="bi bi-pencil-fill"></i>Update Eployee</button>
        <a asp-action="List">Back to List</a>
    </form>
</div>